.titulo-principal{
  margin-left: 45px;
}
#banner {
  width: 100%;
  /*O width é a propriedade que devemos manipular para alterar a largura do elemento.*/
}

.principal {
  padding: 30px;
  background-color: #CCCCCC;
}

.titulo-secundario {
  text-align: center;
  /*A propriedade text-align serve para alterarmos o alinhamento do texto*/
  height: 60px;
  /*A propriedade height serve para alterarmos a altura do elemento.*/
  /* border: 5px solid white;
  A propriedade border refere-se às bordas.*/
  padding-top: 20px;
  /*A propriedade padding define a distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente (padding-top, padding-right, padding-bottom, padding-left).*/
}

p {
  margin: 40px;
  text-align: center;
}

em strong {
  color: red;
}

#missao {
  font-size: 20px;
  /*Para identificadores usamos #*/
}


.itens {
  font-style: italic;
  /*Para class usamos .*/
}

.beneficios {
  background-color: white;
  padding: 20px;
}

h2 {
  text-align: center;
}

#beneficios-titulo {

  margin-left: 13%;
}

ul {
  display: inline-block;
  /*A propriedade Display com valor block (display: inline-block) embutido renderiza um elemento de acordo com a largura do conteúdo ou a largura fornecida, o que for maior, não força uma quebra de linha até que a largura do elemento pai seja totalmente utilizada.*/
  vertical-align: top;
  /*Alinhamento Vertical*/
  width: 20%;
  margin-left: 10%;
  padding-top: 150px;
}

#beneficios {
  width: 40%;
  height: 400px;

}